@font-face {
    font-family: "cursed-timer";
    src: url("CursedTimerUlil-Aznm.ttf");
}

body {
    margin: 0;
    background-image: url("basketball.jpg");
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
}

.teams {
    text-align: center;
}

.team-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #eeeeee;
    text-shadow: 0px 0px 5px black;
}

.team-score {
    padding: 5px;
    font-family: cursed-timer;
    font-size: 90px;
    font-weight: 400;
    color: #f94f6d;
    border: 2px solid #f94f6d;
    text-shadow: 0px 0px 5px black;
}

.score-btn {
    padding: 5px 6px;
    background: none;
    border: 2px solid #059669;
    border-radius: 5px;
    color: #059669;
    font-family: cursed-timer;
    background: #d1fae5;
}

.reset-btn {
    margin: 30px 0;
    padding: 5px 6px;
    background: none;
    border: 2px solid #d97706;
    border-radius: 5px;
    color: #d97706;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #fef3c7;
}
